@import "tailwindcss";

:root {
  --background: #dedfd8;
  --foreground: #171717;
}

@theme {
  --breakpoint-xs: 22.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-play-fair-display);
  --font-mono: var(--font-roboto);
  --font-black: var(--font-archivo-black);
  --font-nunito: var(--font-nunito);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
